In [4]:
import pandas as pd

df = pd.read_csv("Kraken_BTCUSD_d.csv", header=1)

In [5]:
df.head()

,Date,Symbol,Open,High,Low,Close,Volume From,Volume To
0,2018-08-11,BTCUSD,6141.5,6228.9,5969.6,6228.9,2586.37,15763120.05
1,2018-08-10,BTCUSD,6536.0,6579.1,6010.0,6141.5,7526.91,47487206.71
2,2018-08-09,BTCUSD,6275.9,6630.5,6179.1,6536.0,5942.17,38175637.90
3,2018-08-08,BTCUSD,6717.8,6717.8,6120.0,6275.9,9468.23,60523770.56
4,2018-08-07,BTCUSD,6935.7,7149.0,6659.9,6717.8,6505.50,45042696.31

In [6]:
df["Open"]

0       6141.50
1       6536.00
2       6275.90
3       6717.80
4       6935.70
5       7026.90
6       7024.50
7       7415.00
8       7534.80
9       7604.10
10      7726.00
11      8170.00
12      8213.50
13      8230.80
14      8177.00
15      7925.00
16      8166.00
17      8401.80
18      7720.00
19      7401.10
20      7396.70
21      7320.00
22      7472.30
23      7367.40
24      7316.90
25      6727.00
26      6335.40
27      6250.40
28      6214.90
29      6242.50
         ...
1741     209.46
1742     203.51
1743     202.90
1744     202.10
1745     203.77
1746     195.00
1747     191.00
1748     191.00
1749     184.58
1750     183.00
1751     185.95
1752     202.24
1753     150.00
1754     176.32
1755     162.98
1756     163.00
1757     149.05
1758     143.80
1759     137.64
1760     133.88
1761     135.59
1762     131.84
1763     127.00
1764     125.86
1765     125.86
1766     123.84
1767     124.18
1768     123.61
1769     122.00
1770     238.00
Name: Open, Length: 1771, dtype: float64